#goalScroll {
    max-height: 400px;
    overflow-x:scroll;
    overflow-y:hidden;
}

#switchButton {
    max-height: 0px;
}

#booktable:hover {
  background-color: rgb(248, 246, 246);
}

#goalCard {
  max-height: 400px;
  min-height: 400px;
}

/* #goalHeight {
  min-height: 363px;
} */

h5 {
  min-height: 48px;
} 